@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
section::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.section-scroll {
  scrollbar-width: none;
}

.section-scroll {
  -ms-overflow-style: none; /* Hide scrollbar in Internet Explorer 10+ */
  overflow: scroll;
}

.particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

.bg-img {
  background-image: url("/bg-5.jpg");
  background-size: cover;
  background-position: center;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  50%,
  100% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1s infinite;
}
